@import "variables.scss";
@import "mixins.scss";
@import "typography.scss";
@import "agency.scss";

// hsla(368,50%,50%,1)
// hsla(365,50%,50%,1)

$theme-custom-color: hsla(150,85%,62%,1); // hsla(21,85%,62%,1)
$placeholder-color: hsla(0,0%,50%,1);
$portfolio-color: hsla(164,50%,23%,0.8);
$circle-color: hsla(164,50%,23%,1);

#services {
    .container {
        .text-center {
            > .col-md-4 {
                > p {
                    text-align: left;
                }
            }
        }
    }
}

a {
    color: white;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken($theme-custom-color, 35%) !important; // mess with this percentage; 10%
}

.btn-primary {
    @include button-variant (white, $theme-custom-color, $theme-custom-color);
    @include Heading-font;
}

.bg-primary {
  color: #fff;
  background-color: $theme-custom-color;
}

.btn-xl {
    @include button-variant (white, $theme-custom-color, $theme-custom-color);
    @include Heading-font;
}


a:hover {
    color: white !important;
    .btn-xl {
        color: white;
        background-color: darken($theme-custom-color, 35%);
        border-color: darken($theme-custom-color, 35%);
        font-family: "Heading-font", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
    }
}

body {
    @include Body-font;
    webkit-tap-highlight-color: $theme-custom-color;
}

footer {
    text-align: center;
    span.copyright {
        @include Heading-font;
        float: none;
    }
    ul.quicklinks {
        @include Heading-font;
    }
}

h1, h2, h3, h4, h5, h6 {
    @include Heading-font;
}

header {
    background-image: url('/img/header-bg-custom/hard-drive-disk-edit.png');
    .intro-text {
        padding-top: 166px;
        padding-bottom: 190px;
        .intro-lead-in {
            @include Serif-font;
            margin-bottom: 2em;
        }
        .intro-heading {
            @include Heading-font;
            margin-bottom: 1em;
        }
    }
}

.navbar-custom {
    .navbar-brand {
        color: $theme-custom-color;
        @include Script-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken($theme-custom-color, 35%) !important; // mess with this percentage; 10%
        }
    }
    .navbar-toggle {
        background-color: $theme-custom-color;
        border-color: $theme-custom-color;
        @include Heading-font;
        &:hover,
        &:focus {
            background-color: $theme-custom-color;
        }
    }
    .nav {
        li {
            a {
                @include Heading-font;
                &:hover,
                &:focus {
                    color: $theme-custom-color;
                }
            }
        }
    }
    .navbar-nav > .active > a {
        background-color: $theme-custom-color;
    }
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        background-color: darken($theme-custom-color, 35%) !important; // 10%
    }
}

.modal-backdrop.in {
//    filter: alpha(opacity=50);
    opacity: 0;
}

//#portfolio {
//    .portfolio-item {
//        .portfolio-link {
//            .portfolio-hover {
//                background: hsla(21,85%,62%,0.8);
//            }
//        }
//        .portfolio-caption {
//            p {
//                @include Serif-font;
//            }
//        }
//    }
//}

// photography portfolio

#photography {
    .photography-item {
        margin: 0 0 15px;
        right: 0;
        .photography-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .photography-hover {
                background: $portfolio-color;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .photography-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }                
            }            
        }
        .photography-caption {
            max-width: 400px;
            margin: 0 auto;
            background-color: white;
            text-align: center;
            padding: 25px;
            h4 {
                text-transform: none;
                margin: 0;
            }
            p {
                @include Serif-font;
                font-style: italic;
                font-size: 16px;
                margin: 0;
            }
        }
    }
    * {
        z-index: 2;
    }
}

@media(min-width:767px) {
    #photography {
        .photography-item {
            margin: 0 0 30px;
        }
    }
}

// photography modal

.photography-modal {
    .modal-dialog{
        margin: 0;
        height: 100%;
        width: auto;
    }
    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
        padding: 100px 0;
        text-align: center;
        h2 {
            margin-bottom: 15px;
            font-size: 3em;
        }
        p {
            margin-bottom: 30px;
        }
        p.item-intro {
            margin: 20px 0 30px;
            @include Serif-font;
            font-style: italic;
            font-size: 16px;
        }
        ul.list-inline {
            margin-bottom: 30px;
            margin-top: 0;
        }
        img {
            margin-bottom: 30px;
        }
    }
    .close-modal {
        position: absolute;
        width: 75px;
        height: 75px;
        background-color: transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height: 75px;
            width: 1px;
            margin-left: 35px;
            background-color: $gray-darker;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index: 1051;
            .rl {
                height: 75px;
                width: 1px;
                background-color: $gray-darker;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index: 1052;
            }            
        }        
    }
    .modal-backdrop {
        opacity: 0;
        display: none;
    }
} 


// end of photography

// multimedia portfolio 

#multimedia { 
    .multimedia-item { 
        margin: 0 0 15px; 
        right: 0; 
        .multimedia-link { 
            display: block; 
            position: relative; 
            max-width: 400px; 
            margin: 0 auto; 
            .multimedia-hover { 
                background: $portfolio-color; 
                position: absolute; 
                width: 100%; 
                height: 100%; 
                opacity: 0; 
                transition: all ease 0.5s; 
                -webkit-transition: all ease 0.5s; 
                -moz-transition: all ease 0.5s; 
                &:hover { 
                    opacity: 1; 
                } 
                .multimedia-hover-content { 
                    position: absolute; 
                    width: 100%; 
                    height: 20px; 
                    font-size: 20px; 
                    text-align: center; 
                    top: 50%; 
                    margin-top: -12px; 
                    color: white; 
                    i { 
                        margin-top: -12px; 
                    } 
                    h3, 
                    h4 { 
                        margin: 0; 
                    } 
                }                 
            }             
        } 
        .multimedia-caption { 
            max-width: 400px; 
            margin: 0 auto; 
            background-color: white; 
            text-align: center; 
            padding: 25px; 
            h4 { 
                text-transform: none; 
                margin: 0; 
            } 
            p { 
                @include Serif-font; 
                font-style: italic; 
                font-size: 16px; 
                margin: 0; 
            } 
        } 
    } 
    * { 
        z-index: 2; 
    }
} 

@media(min-width:767px) { 
    #multimedia { 
        .multimedia-item { 
            margin: 0 0 30px; 
        } 
    } 
} 

// multiedia modal 

.multimedia-modal { 
    .modal-dialog{ 
        margin: 0; 
        height: 100%; 
        width: auto; 
    } 
    .modal-content { 
        border-radius: 0; 
        background-clip: border-box; 
        -webkit-box-shadow: none; 
        box-shadow: none; 
        border: none; 
        min-height: 100%; 
        padding: 100px 0; 
        text-align: center; 
        h2 { 
            margin-bottom: 15px; 
            font-size: 3em; 
        } 
        p { 
            margin-bottom: 30px; 
        } 
        p.item-intro { 
            margin: 20px 0 30px; 
            @include Serif-font; 
            font-style: italic; 
            font-size: 16px; 
        } 
        ul.list-inline { 
            margin-bottom: 30px; 
            margin-top: 0; 
        } 
        img { 
            margin-bottom: 30px; 
        } 
    } 
    .close-modal { 
        position: absolute; 
        width: 75px; 
        height: 75px; 
        background-color: transparent; 
        top: 25px; 
        right: 25px; 
        cursor: pointer; 
        &:hover { 
            opacity: 0.3; 
        } 
        .lr { 
            height: 75px; 
            width: 1px; 
            margin-left: 35px; 
            background-color: $gray-darker; 
            transform: rotate(45deg); 
            -ms-transform: rotate(45deg); 
            /* IE 9 */ 
            -webkit-transform: rotate(45deg); 
            /* Safari and Chrome */ 
             z-index: 1051; 
            .rl { 
                height: 75px; 
                width: 1px; 
                background-color: $gray-darker; 
                transform: rotate(90deg); 
                -ms-transform: rotate(90deg); 
                /* IE 9 */ 
                -webkit-transform: rotate(90deg); 
                /* Safari and Chrome */ 
                z-index: 1052; 
            }             
        }         
    } 
    .modal-backdrop { 
        opacity: 0; 
        display: none; 
    } 
} 
 
 
// end of multimedia 

.timeline {
    .timeline-heading {
        h4 {
            color: hsla(150,85%,42%,1);
        }
    }
}

section {
    h3.section-subheading {
        @include Serif-font;
        margin-bottom: 50px;
    }
}

section#contact {
    .text-muted {
        color: hsla(0,0%,80%,1);
    }
    .form-control:focus {
        border-color: $theme-custom-color;
    }
    ::-webkit-input-placeholder {
        @include Heading-font;
        text-transform: none;
        color: $placeholder-color;
    }
    :-moz-placeholder { 
        @include Heading-font;
        text-transform: none;
        color: $placeholder-color;
    }
    ::-moz-placeholder {  
        @include Heading-font;
        text-transform: none;
        color: $placeholder-color;
    }
    :-ms-input-placeholder {  
        @include Heading-font;
        text-transform: none;
        color: $placeholder-color;
    }
}

.text-primary {
    color: $theme-custom-color;
}

.timeline {
    &:before {
        background-color: $circle-color;
    }
    > li {
        .timeline-image {
            background-color: $theme-custom-color;
            border: 7px solid $circle-color;
            height: 170px;
//            .image-circle {
//                height: 170px;
//                border-radius: 100%;
//            }
        }
    }
}

ul.social-buttoms {
    li {
        a {
            &:hover,
            &:focus,
            &:active {
                background-color: $theme-custom-color;
            }
        }
    }
}

@media(min-width:768px) {
    header {
        .intro-text {
            .intro-lead-in {
                @include Serif-font;
            }
            .intro-heading {
                @include Heading-font;
            }
        }
    }
    section {
        padding: 30px 0;
    }
}

::-moz-selection {
    background: $theme-custom-color;
}

::selection {
    background: $theme-custom-color !important;
}