@import "variables.scss";
@import "mixins.scss";
@import "typography.scss";
@import "agency.scss";

$theme-custom-color: hsla(100,60%,70%,1);

a {
    color: $theme-custom-color;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken($theme-custom-color, 10%);
}

.btn-primary {
    @include button-variant (white, $theme-custom-color, $theme-custom-color);
    @include Heading-font;
}

.btn-xl {
    @include button-variant (white, $theme-custom-color, $theme-custom-color);
    @include Heading-font;
}

body {
    @include Body-font;
    webkit-tap-highlight-color: $theme-custom-color;
}

footer {
    span.copyright {
        @include Heading-font;
    }
    ul.quicklinks {
        @include Heading-font;
    }
}

h1, h2, h3, h4, h5, h6 {
    @include Heading-font;
}

header {
    .intro-text {
        .intro-lead-in {
            @include Serif-font;
        }
        .intro-heading {
            @include Heading-font;
        }
    }
}

.navbar-custom {
    .navbar-brand {
        color: $theme-custom-color;
        @include Script-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken($theme-custom-color, 10%);
        }
    }
    .navbar-toggle {
        background-color: $theme-custom-color;
        border-color: $theme-custom-color;
        @include Heading-font;
        &:hover,
        &:focus {
            background-color: $theme-custom-color;
        }
    }
    .nav {
        li {
            a {
                @include Heading-font;
                &:hover,
                &:focus {
                    color: $theme-custom-color;
                }
            }
        }
    }
    .navbar-nav > .active > a {
        background-color: $theme-custom-color;
    }
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        background-color: darken($theme-custom-color, 10%);
    }
}

.portfolio-modal {
    .modal-content {
        p.item-intro {
            margin: 20px 0 30px;
            @include Serif-font;
            font-style: italic;
            font-size: 16px;
        }
    }
}

#portfolio {
    .portfolio-item {
        .portfolio-link {
            .portfolio-hover {
                background: fade-out ($theme-custom-color, .9);
            }
        }
        .portfolio-caption {
            p {
                @include Serif-font;
            }
        }
    }
}

section {
    h3.section-subheading {
        @include Serif-font;
    }
}

section#contact {
    .form-control:focus {
        border-color: $theme-custom-color;
    }
    ::-webkit-input-placeholder {
       @include Heading-font;
    }
    :-moz-placeholder { 
       @include Heading-font;
    }
    ::-moz-placeholder {  
       @include Heading-font;
    }
    :-ms-input-placeholder {  
       @include Heading-font;
    }
}

.text-primary {
    color: $theme-custom-color;
}

.timeline {
    > li {
        .timeline-image {
            background-color: $theme-custom-color;
        }
    }
}

ul.social-buttoms {
    li {
        a {
            &:hover,
            &:focus,
            &:active {
                background-color: $theme-custom-color;
            }
        }
    }
}

@media(min-width:768px) {
    header {
        .intro-text {
            .intro-lead-in {
                @include Serif-font;
            }
            .intro-heading {
                @include Heading-font;
            }
        }
    }
}

::-moz-selection {
    background: $theme-custom-color;
}

::selection {
    background: $theme-custom-color !important;
}
